textarea{
  width:  300px;
  height: 250px;
  padding: 5px 10px 5px 10px;
  border:1px solid #999;
  font-size:16px;
  font-family: Tahoma;
}

.translate-second-block {
  padding: .5rem, 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
}